#dmcils {
    color: rgb(247, 237, 192);
    font-family: "Edwardian";
    text-align: center;
    font-size: 5.5rem;
}


@media (min-width: 576px) {
    #dmcils {
        font-size: 8rem;   
    }
}

#dmcils2 {
    font-family: "Edwardian";
    font-size: 4rem;
}

#soustitre {
    font-family: "Edwardian";
    font-size: 3rem;
}

#div_vol_russe, #div_cil_a_cil, #div_remplissage {
    border: 0.7px solid;
    border-color:  rgb(247, 237, 192);
    padding: 15px;
    text-align: center;
    display: inline-block;

}

/* #div_vol_russe:hover, #div_cil_a_cil:hover, #div_remplissage:hover {
    background-color: rgba(146, 30, 9, 0.212);
} */


@font-face {
	font-family: "Snell Roundhand";
	src: url('../assets/fonts/snell-roundhand/SnellRoundhand.ttf');
}


@font-face {
	font-family: "Edwardian";
	src: url('../assets/fonts/edwardian/edwardian.ttf');
}

@font-face {
	font-family: "Univ-Roman";
	src: url('../assets/fonts/university-roman-normal/univ-roman.ttf');
}


#comment{
    height: 300px;
    padding-top: 0;
}

#textarea {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    line-height: 1.25;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0rem;
    resize: none;

}

.labeltop{
    margin-top: .5rem;
}


.redText {
    color: red;
}

.img100 {
    max-width: 100%;
    height: 100%;
}

.img50 {
    max-width: 100%;
    height: 50%;
}

.titreTarif {
    font-family: "Edwardian";
    font-size: 2rem;
    color: rgb(247, 237, 192);
    border: 0.7px solid;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

#blocTarif {
    font-family: "Univ-Roman";
    text-align: center;
    line-height: 30px;
}

.edwardian-white-4 {
    font-family: "Edwardian";
    font-size: 4rem;
    color:  rgb(247, 237, 192);
}

.duree {
    font-size: 1rem;
}

.prix {
    font-family: "Univ-Roman";
    font-size: 1.5rem;
    margin-top: 10px;
    color: rgb(247, 237, 192);
    margin-top: auto;
    margin-bottom: auto;
}

.smallIcon {
    font-size: 20px;
    width: 30px;
}
 