#dmcils {
    color: rgb(247, 237, 192);
    font-family: "Edwardian";
    text-align: center;
    font-size: 4.5rem;
}

@media (min-width: 576px) {
    #dmcils {
        font-size: 8rem;   
    }
}

#dmcils2 {
    font-family: "Edwardian";
    font-size: 3rem;
}

#soustitre {
    font-family: "Edwardian";
    font-size: 3rem;
}

#div_vol_russe, #div_cil_a_cil, #div_remplissage {
    border: 0.7px solid;
    padding: 15px;
}

#div_vol_russe:hover, #div_cil_a_cil:hover, #div_remplissage:hover {
    background-color: rgba(247, 237, 192, 0.4);
}


@font-face {
	font-family: "Snell Roundhand";
	src: url('../assets/fonts/snell-roundhand/SnellRoundhand.ttf');
}


@font-face {
	font-family: "Edwardian";
	src: url('../assets/fonts/edwardian/edwardian.ttf');
}


