#logo {
    color: rgb(247, 237, 192);
    font-family: "Edwardian";
    font-size: 6rem;
}

#soustitre {
    font-family: "Edwardian";
    font-size: 2rem;
}

@font-face {
	font-family: "Snell Roundhand";
	src: url('../assets/fonts/snell-roundhand/SnellRoundhand.ttf');
}


@font-face {
	font-family: "Edwardian";
	src: url('../assets/fonts/edwardian/edwardian.ttf');
}


